{% load thumbnail %}

<section class="container-fluid object-main-section" id="object-main-section">
    <div class="container">
        <div class="row justify-content-start">
            <div class="wrapper-title-text">
                <h2 class="s">Наші секції</h2>
            </div>
            <div class="row mx-0 w-100 mb-5">
                {% for sport_club in sport_clubs_list %}
                    <div class="wrapper-object position-relative">
                        <a href="{{ sport_club.get_url }}" class="position-absolute w-100 h-100 link-object"></a>
                        <div class="">
                            <div class="wrapper-img">
                                <img src="{% thumbnail sport_club.image 300x200 %}" alt="">
                            </div>
                            <h3>{{ sport_club.name }}</h3>
                            <div class="after-small-text">{{ sport_club.short_description|safe  }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<a href="{{ sport_club.get_url }}">{{ sport_club.name }}</a>
