{% load thumbnail %}

<section class="container-fluid section-banner-sport-object px-0 mx-0">
    <img src="{% thumbnail sport_object.image 1920x500 %}" alt="">
    <div class="container name-sport-object">
        <div class="row align-items-center h-100 justify-content-end">
            {{ sport_object.name }}
        </div>
    </div>
</section>

<section class="container">
    <div class="container-fluid wrapper-breadcrumbs">
        <div class="container">
            <div class="row breadcrumbs">
                <a href="{{ home_list_url }}">Домашня</a>
                <a href="{{ objects_list_url }}">Спортивні об'єкти</a>
                <a href="{% url 'clubs:ObjectDetail' slug=sport_object.slug %}">{{ sport_object.name }}</a>
            </div>
        </div>
    </div>
    <div class="wrapper-text">
        {{ sport_object.description|safe }}
    </div>
</section>