{% load thumbnail %}

<section class="container-fluid object-main-section" id="object-main-section">
    <div class="container">
        <div class="row justify-content-start">
            <div class="wrapper-title-text w-100">

                {% if this_url == objects_list_url %}
                    <div class="container-fluid wrapper-breadcrumbs">
                        <div class="container">
                            <div class="row breadcrumbs">
                                <a href="{{ home_url }}">Домашня</a>
                                <a href="{{ objects_list_url }}">Спортивні об'єкти</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <h2 class="text-center w-100">Нашi cпортивнi об'екти</h2>
            </div>
            <div class="row mx-0 w-100 mb-5">
                {% for sport_object in sport_objects_list %}
                    <div class="wrapper-object position-relative">
                        <a href="{{ sport_object.get_url }}" class="position-absolute w-100 h-100 link-object"></a>
                        <div class="">
                            <div class="wrapper-img">
                                <img src="{% thumbnail sport_object.image 300x200 %}" alt="">
                            </div>
                            <h3>{{ sport_object.name }}</h3>
                            <div class="after-small-text">{{ sport_object.short_description |safe }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if objects_list_url and this_url != objects_list_url %}
                <a href="{{ objects_list_url }}" class="btn btn-main-dark">Всі об'єкти</a>
            {% endif %}
        </div>
    </div>
</section>
