html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    color: #000000;
    line-height: 1;
    letter-spacing: 1px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

header.dark {
    background: linear-gradient(top, rgba(61, 54, 5, 0.80), rgba(36, 33, 7, 0.70));
    background: -moz-linear-gradient(top, rgba(61, 54, 5, 0.80), rgba(36, 33, 7, 0.70));
    background: -webkit-linear-gradient(top, rgba(61, 54, 5, 0.80), rgba(36, 33, 7, 0.70));
    background: -o-linear-gradient(top, rgba(61, 54, 5, 0.80), rgba(36, 33, 7, 0.70));
    background: -ms-linear-gradient(top, rgba(61, 54, 5, 0.80), rgba(36, 33, 7, 0.70));
    background: linear-gradient(top, rgba(61, 54, 5, 0.80), rgba(36, 33, 7, 0.70));
    border-bottom: 1px solid #000000;
}

main {
    top: 20px
}

.after-title-text {
    color: #ffffff;
    font-size: 22px;
}

.after-main-title-text {
    font-size: 24px;
    line-height: 1.7;
}

h1 {
    color: #ffffff;
    font-size: 72px;
    margin-bottom: 10px;
}

h2 {
    font-size: 42px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
}

h3 {
    font-size: 24px;
    line-height: 1.35;
    font-weight: 600;
    text-transform: uppercase;
}

.big-text {
    font-size: 52px;
    line-height: 1.23;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-main-yellow {
    color: #000000;
    font-size: 18px;
    background: #ffe100;
    border-radius: 0;
    padding: 10px 15px;
    line-height: 1;
    border-radius: 8px;
    transition: all .3s;
}

.btn-main-yellow:hover {
    color: #ffe100;
    background: #000000;
}

.btn-main-dark {
    color: #ffe100;
    font-size: 18px;
    height: 50px;
    background: #000000;
    border-radius: 0;
    padding: 10px 15px;
    line-height: 1.5;
    transition: all .3s;
}

.after-small-text {
    line-height: 1.2;
    padding: 0 15px;
}

.btn-main-dark:hover {
    background: #ffe100;
    color: #000000;
}

.stickytop {
    background: linear-gradient(top, rgba(61, 54, 5, 0.80), rgba(36, 33, 7, 0.70));
    background: -moz-linear-gradient(top, rgba(61, 54, 5, 0.80), rgba(36, 33, 7, 0.70));
    background: -webkit-linear-gradient(top, rgba(61, 54, 5, 0.80), rgba(36, 33, 7, 0.70));
    background: -o-linear-gradient(top, rgba(61, 54, 5, 0.80), rgba(36, 33, 7, 0.70));
    background: -ms-linear-gradient(top, rgba(61, 54, 5, 0.80), rgba(36, 33, 7, 0.70));
    background: linear-gradient(top, rgba(61, 54, 5, 0.80), rgba(36, 33, 7, 0.70));
    border-bottom: 1px solid #000000;
}

/*header*/
header nav a {
    color: #ffffff;
    font-weight: 300;
}

header .navbar {
    padding: 20px 15px;
}

.navbar-brand {
    color: #ffe100;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 26px;
}

.btn-header {
    border: 1px solid #ffe100;
    color: #ffe100;
}

.arrow-banner-down {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    transform: rotate(-45deg);
    transition: all .3s;
    padding: 10px;
}

.wrapper-keyframe {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        bottom: 0;
    }
    50% {
        bottom: 5px;
    }
}

.wrapper-banner-arrow {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto 50px;
}

.arrow-banner-down:hover {
    border-bottom: 2px solid #ffe100;
    border-left: 2px solid #ffe100;
}


/*banner*/
.banner-main-section {
    height: 100vh;
}

.banner-main-section img {
    object-fit: cover;
}

.banner-mask {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
    background: -moz-linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
    background: -webkit-linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
    background: -o-linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
    background: -ms-linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
    background: linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
}

.banner-wrapper-text {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

.banner-main-section .after-title-text {
    max-width: 900px;
    margin: auto;
    line-height: 1.8;
}

/*section-information*/
.section-information {
    height: 100vh;
}

.section-information-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-information h2 {
    margin-bottom: 30px;
}

.section-information-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.2);
    object-position: center center;
}

.section-information-img-first {
    position: absolute;
    height: 524px;
    width: 373px;
    top: 10%;
}

.section-information-img-second {
    position: absolute;
    height: 280px;
    width: 210px;
    top: 22%;
    left: 62%;
}

.section-information-img-third {
    position: absolute;
    height: 269px;
    width: 397px;
    top: 54%;
    left: 20%;
}

/*object-main-section*/
.object-main-section {
    padding-top: 100px;
    padding-bottom: 35px;
    background-color: #ededed;
}

.wrapper-title-text {
    margin-bottom: 50px;
}

.wrapper-object {
    flex: 0 0 32%;
    max-width: 32%;
    margin-bottom: 40px;
    margin-right: 22px;
    padding-bottom: 20px;
}

.wrapper-object:nth-child(3n) {
    margin-right: 0;
}

.wrapper-object img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 200px;

}

.wrapper-object .wrapper-img {
    position: relative;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    margin-bottom: 25px;
}

.wrapper-object h3 {
    padding-left: 15px;
}

.wrapper-object .wrapper-img:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
    background: -moz-linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
    background: -webkit-linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
    background: -o-linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
    background: -ms-linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
    background: linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
}

.object-main-section .btn-main-dark {
    min-width: 200px;
}

.slogan-section {
    background: #ffe100;
    padding-top: 50px;
    padding-bottom: 50px;
}

.link-object {
    background: transparent;
    z-index: 10;
    border-radius: 8px;
    overflow: hidden;
}

.link-object:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

/*table-section*/
.table-section {
    margin-top: 80px;
}

.table-section thead th {
    width: 14.2%;
    border: #ffe100 5px solid;
    padding: 20px 15px;
    text-align: center;
    font-size: 20px;

}

.table-section tbody td {
    width: 14.2%;
    border: rgba(255, 225, 0, 0.3) 5px solid;
    padding: 17px 15px;
    text-align: center;
    font-size: 20px;
}

.form-section * {
    margin: 20px 0 0px 0;
}

.form-section input {
    border: #000000 solid 2px;
    min-height: 49px;
}

.form-control {
    border: 1px solid #ffe100;
    height: 49px;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 225, 0, .25);
    border-color: #ffe100
}

.form-inline.form-section .btn-main-dark {
    min-height: 62px;
    padding: 10px 20px;
}


/*section-banner-sport-object*/
.section-banner-sport-object {
    position: relative;
    width: 100%;
    height: 500px;
}

.section-banner-sport-object:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
    background: -moz-linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
    background: -webkit-linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
    background: -o-linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
    background: -ms-linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
    background: linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
}

.section-banner-sport-object img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.name-sport-object {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-size: 52px;
    text-transform: uppercase;
}

.after-name-object {
    font-size: 16px;
    max-width: 600px;
}

/*news*/
.news-section {
    padding: 70px 0;
}

.wrapper-news-section {
    margin-bottom: 40px;
}

.wrapper-new-item {
    position: relative;
    flex: 0 0 20%;
    min-width: 23%;
    margin-right: 20px;

}

.wrapper-new-item:last-child {
    margin-right: 0;
}

.new-item {
    padding: 0 15px 15px 15px;
}

.wrapper-new-item .link-object {
    top: 0;
    left: 0;
}

.wrapper-new-item p {
    font-size: 16px;
}

.news-section img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center center;
    border-radius: 8px 8px 0 0;
}

.wrapper-img {
    position: relative;
    margin-bottom: 10px;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.wrapper-new-item .wrapper-img {
    width: calc(100% + 30px);
    margin-left: -15px;
}

.wrapper-new-item .wrapper-img:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
    background: -moz-linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
    background: -webkit-linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
    background: -o-linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
    background: -ms-linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
    background: linear-gradient(top, rgba(61, 54, 5, 0.60), rgba(36, 33, 7, 0.70));
    z-index: 10;
}


/*contact-section*/
.contact-section {
    background: #000000;
    color: #ffffff;
    max-height: 500px;
}

.contact-section img {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.wrapper-text-contact div {
    margin-bottom: 30px;
}

.wrapper-text-contact {
    padding-left: 20px;
    height: 100%;
    max-width: 500px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.wrapper-link-contact {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.3;
    transition: all .3s;
    text-decoration: none;
}

.wrapper-link-contact:hover {
    color: #ffe100;;
}

.wrapper-address {
    font-size: 18px;
    line-height: 1.5;
}

/*footer-section*/
.footer-section {
    padding: 15px;
    background: #000000;
    color: #ffffff;
    font-size: 14px;
}

.wrapper-main-block-news {
    min-height: 300px;
    padding: 30px 30px;
    margin-bottom: 50px;
    border: 1px solid rgba(0, 0, 0, .1);
    transition: all .3s;
}

.wrapper-main-block-news:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    border: 0;
}

.wrapper-main-block-news img {
    width: 100%;
    height: calc(100%);
    object-fit: cover;

}

.news-main-section {
    margin-top: 100px;
}

.news-main-section h2 {
    margin-bottom: 50px;
}

.wrapper-text {
    font-size: 26px;
    margin-top: 80px;
    margin-bottom: 80px;
    line-height: 1.3;


}


/* modal */


#signIn html, body * {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#signIn body {
    background: -webkit-linear-gradient(
            rgba(246, 247, 249, 0.8),
            rgba(246, 247, 249, 0.8)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/sky-clouds-cloudy-mountain.jpg) no-repeat center center fixed;
    background: linear-gradient(
            rgba(246, 247, 249, 0.8),
            rgba(246, 247, 249, 0.8)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/sky-clouds-cloudy-mountain.jpg) no-repeat center center fixed;
    background-size: cover;
}

#signIn .container {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 100px;
}

#signIn .frame {
    height: 575px;
    width: 430px;
    background: -webkit-linear-gradient(
            rgba(35, 43, 85, 0.75),
            rgba(35, 43, 85, 0.95)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/clouds-cloudy-forest-mountain.jpg) no-repeat center center;
    background: linear-gradient(
            rgba(35, 43, 85, 0.75),
            rgba(35, 43, 85, 0.95)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/clouds-cloudy-forest-mountain.jpg) no-repeat center center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

#signIn .frame-long {
    height: 615px;
}

#signIn .frame-short {
    height: 400px;
    margin-top: 50px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
}

#signIn .nav {
    width: 100%;
    height: 100px;
    padding-top: 40px;
    opacity: 1;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

#signIn .nav-up {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
}

#signIn li {
    padding-left: 10px;
    font-size: 18px;
    display: inline;
    text-align: left;
    text-transform: uppercase;
    padding-right: 10px;
    color: #ffffff;
}

#signIn .signin-active a {
    padding-bottom: 10px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: solid 2px #1059FF;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    cursor: pointer;
}

#signIn .signin-inactive a {
    padding-bottom: 0;
    color: rgba(255, 255, 255, .3);
    text-decoration: none;
    border-bottom: none;
    cursor: pointer;
}

#signIn .signup-active a {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    border-bottom: solid 2px #1059FF;
    padding-bottom: 10px;
}

#signIn .signup-inactive a {
    cursor: pointer;
    color: rgba(255, 255, 255, .3);
    text-decoration: none;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

#signIn .form-signin {
    width: 430px;
    height: 375px;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 55px;
    -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
    transition: opacity .5s ease, -webkit-transform .5s ease;
    transition: opacity .5s ease, transform .5s ease;
    transition: opacity .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

#signIn .form-signin-left {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
    opacity: .0;
}

#signIn .form-signup {
    width: 430px;
    height: 375px;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 55px;
    position: relative;
    top: -375px;
    left: 400px;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

#signIn .form-signup-left {
    -webkit-transform: translateX(-399px);
    transform: translateX(-399px);
    opacity: 1;
}

#signIn .form-signup-down {
    top: 0px;
    opacity: 0;
}

#signIn .success {
    width: 80%;
    height: 150px;
    text-align: center;
    position: relative;
    top: -890px;
    left: 450px;
    opacity: .0;
    -webkit-transition: all .8s .4s ease;
    transition: all .8s .4s ease;
}

#signIn .success-left {
    -webkit-transform: translateX(-406px);
    transform: translateX(-406px);
    opacity: 1;
}

#signIn .successtext {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    margin-top: -35px;
    padding-left: 37px;
    padding-right: 37px;
}

#signIn #check path {
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .85px;
    stroke-dasharray: 60px 300px;
    stroke-dashoffset: -166px;
    fill: rgba(255, 255, 255, .0);
    -webkit-transition: stroke-dashoffset 2s ease .5s, fill 1.5s ease 1.0s;
    transition: stroke-dashoffset 2s ease .5s, fill 1.5s ease 1.0s;
}

#signIn #check.checked path {
    stroke-dashoffset: 33px;
    fill: rgba(255, 255, 255, .03);
}

#signIn .form-signin input,
#signIn .form-signup input {
    color: #ffffff;
    font-size: 13px;
}

#signIn .resizeselect {
    width: 50%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, .2);

}

#signIn input {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, .2);
}

#signIn label {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 15px;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, .7);
    display: block;
}

#signIn :focus {
    outline: none;
}

#signIn .form-signin input:focus, textarea:focus,
#signIn .form-signup input:focus, textarea:focus {
    background: rgba(255, 255, 255, .3);
    border: none;
    padding-right: 40px;
    -webkit-transition: background .5s ease;
    transition: background .5s ease;
}

#signIn [type="checkbox"]:not(:checked),
#signIn [type="checkbox"]:checked {
    position: absolute;
    display: none;
}

#signIn [type="checkbox"]:not(:checked) + label,
#signIn [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 85px;
    padding-top: 2px;
    cursor: pointer;
    margin-top: 8px;
}

#signIn [type="checkbox"]:not(:checked) + label:before,
#signIn [type="checkbox"]:checked + label:before,
#signIn [type="checkbox"]:not(:checked) + label:after,
#signIn [type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
}

#signIn [type="checkbox"]:not(:checked) + label:before,
#signIn [type="checkbox"]:checked + label:before {
    width: 65px;
    height: 30px;
    background: rgba(255, 255, 255, .2);
    border-radius: 15px;
    left: 0;
    top: -3px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

#signIn [type="checkbox"]:not(:checked) + label:after,
#signIn [type="checkbox"]:checked + label:after {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, .7);
    border-radius: 50%;
    top: 7px;
    left: 10px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

/* on checked */
#signIn [type="checkbox"]:checked + label:before {
    background: #0F4FE6;
}

#signIn [type="checkbox"]:checked + label:after {
    background: #ffffff;
    top: 7px;
    left: 45px;
}

#signIn [type="checkbox"]:checked + label .ui,
#signIn [type="checkbox"]:not(:checked) + label .ui:before,
#signIn [type="checkbox"]:checked + label .ui:after {
    position: absolute;
    left: 6px;
    width: 65px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

#signIn [type="checkbox"]:not(:checked) + label .ui:before {
    content: "no";
    left: 32px;
    color: rgba(255, 255, 255, .7);
}

#signIn [type="checkbox"]:checked + label .ui:after {
    content: "yes";
    color: #ffffff;
}

#signIn [type="checkbox"]:focus + label:before {
    box-sizing: border-box;
    margin-top: -1px;
}

#signIn .btn-signup {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    padding-top: 8px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: 23px;
    background-color: #1059FF;
}

#signIn .btn-signin {
    float: left;
    padding-top: 8px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: -8px;
}

#signIn .btn-signup-custom {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    padding-top: 8px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: 23px;
    background-color: #1059FF;
}

#signIn .btn-signin-custom {
    float: left;
    padding-top: 8px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: -8px;
    color: #ffffff;
    background-color: #1059FF;
}

#signIn .btn-animate {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-top: 8px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: 23px;
    background-color: rgba(16, 89, 255, 1);
    left: 0px;
    top: 0px;
    -webkit-transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
    transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
}

#signIn .btn-animate-grow {
    width: 130%;
    height: 625px;
    position: relative;
    left: -55px;
    top: -420px;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 1);
}

#signIn a.btn-signup:hover, a.btn-signin:hover {
    cursor: pointer;
    background-color: #0F4FE6;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
}

#signIn .forgot {
    height: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 24px;
    margin-top: -535px;
    border-top: solid 1px rgba(255, 255, 255, .3);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#signIn .forgot-left {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
    opacity: 0;
}

#signIn .forgot-fade {
    opacity: 0;
}

#signIn .forgot a {
    color: rgba(255, 255, 255, .3);
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
}

#signIn .welcome {
    width: 100%;
    height: 50px;
    position: relative;
    color: rgba(35, 43, 85, 0.75);
    opacity: 0;
    -webkit-transition: opacity .1s ease 1s, -webkit-transform 1.5s ease .25s;
    transition: opacity .1s ease 1s, -webkit-transform 1.5s ease .25s;
    transition: transform 1.5s ease .25s, opacity .1s ease 1s;
    transition: transform 1.5s ease .25s, opacity .1s ease 1s, -webkit-transform 1.5s ease .25s;
}

#signIn .welcome-left {
    -webkit-transform: translateY(-780px);
    transform: translateY(-780px);
    opacity: 1;
}

#signIn .cover-photo {
    height: 150px;
    position: relative;
    left: 0px;
    top: -900px;
    background: -webkit-linear-gradient(
            rgba(35, 43, 85, 0.75),
            rgba(35, 43, 85, 0.95)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/landscape-nature-man-person.jpeg);
    background: linear-gradient(
            rgba(35, 43, 85, 0.75),
            rgba(35, 43, 85, 0.95)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/landscape-nature-man-person.jpeg);
    background-size: cover;
    opacity: 0;
    -webkit-transition: all 1.5s ease 0.55s;
    transition: all 1.5s ease 0.55s;
}

#signIn .cover-photo-down {
    top: -575px;
    opacity: 1;
}

#signIn .profile-photo {
    height: 125px;
    width: 125px;
    position: relative;
    border-radius: 70px;
    left: 155px;
    top: -1000px;
    background: url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/nature-water-rocks-hiking.jpg);
    background-size: 100% 135%;
    background-position: 100% 100%;
    opacity: 0;
    -webkit-transition: top 1.5s ease 0.35s, opacity .75s ease .5s;
    transition: top 1.5s ease 0.35s, opacity .75s ease .5s;
    border: solid 3px #ffffff;
}

#signIn .profile-photo-down {
    top: -636px;
    opacity: 1;
}

#signIn h1 {
    color: #ffffff;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
}

#signIn .btn-goback {
    position: relative;
    margin-right: auto;
    top: -400px;
    float: left;
    padding: 8px;
    width: 83%;
    margin-left: 37px;
    margin-right: 37px;
    height: 35px;
    border-radius: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: #1059FF;
    margin-top: -8px;
    border: solid 1px #1059FF;
    opacity: 0;
    -webkit-transition: top 1.5s ease 0.35s, opacity .75s ease .5s;
    transition: top 1.5s ease 0.35s, opacity .75s ease .5s;
}

#signIn .btn-goback-up {
    top: -1080px;
    opacity: 1;
}

#signIn a.btn-goback:hover {
    cursor: pointer;
    background-color: #0F4FE6;
    -webkit-transition: all .5s;
    transition: all .5s;
    color: #ffffff;
}

/* refresh button styling */

#signIn #refresh {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
    padding: 13px 0 0 13px;
}

#signIn .refreshicon {
    fill: #d3d3d3;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: fill .25s ease, -webkit-transform .25s ease;
    transition: fill .25s ease, -webkit-transform .25s ease;
    transition: fill .25s ease, transform .25s ease;
    transition: fill .25s ease, transform .25s ease, -webkit-transform .25s ease;
}

#signIn .refreshicon:hover {
    cursor: pointer;
    fill: #1059FF;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#signIn .frame-long {
    height: 765px;
}

#signIn .modal-content {
    background: transparent;
    border: 0;
}

.modal-backdrop.show {
    opacity: 0.8;
}


/* popup */
.popup-section {
    opacity: 0.5;
    visibility: hidden;
    position: fixed;
    top: 100px;
    right: 0;
    max-width: 400px;
    padding: 20px 15px;
    background: rgba(255, 255, 255, 0.30);
    color: #000000;
    z-index: 15;
    transition: all .3s;
    border-radius: 8px;
}

.popup-section.green {
    border: 5px solid;
    border-color: rgba(0, 255, 0, 0.50);

}

.popup-section.red {
    border: 5px solid;
    border-color: rgba(255, 0, 0, 0.50);
    opacity: 0.1;

}

.popup-section.active {
    opacity: 1;
    visibility: visible;
}

.btn-popup {
    padding: 10px;
    position: relative;
}

.btn-popup:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 20px;
    height: 2px;
    background: #000000;
    transform: rotate(45deg)
}

.btn-popup:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 20px;
    height: 2px;
    background: #000000;
    transform: rotate(-45deg)
}

.authenticated_header {
    margin-top: 46px;
}


.wrapper-breadcrumbs {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
}

.breadcrumbs {
    display: inline-block;
    counter-reset: flag;
    color: black;
    font-size: 12px;
}

.breadcrumbs a {
    padding: 5px 10px 5px 50px;
    position: relative;
    float: left;
    text-decoration: none;
    line-height: 1;
    color: black;
    transition: all 0.5s;
    font-size: 16px;
    background: #ffe100;
}

.breadcrumbs a:after {
    content: '';
    position: absolute;
    top: 1px;
    right: -10px;
    z-index: 1;
    width: 24px;
    height: 24px;
    box-shadow: 1px 1px 0 1px #ddd;
    border-radius: 50px 0 0 0;
    transform: rotate(-45deg) scale(0.73);
    transition: all 0.5s;
    background: #ffe100;
}

.breadcrumbs a:hover,
.breadcrumbs a:hover::after,
.breadcrumbs a.active,
.breadcrumbs a.active::after {
    background: #ffff00;
}

.wrapper-breadcrumbs .container{
    height: 26px;
}
.wrapper-breadcrumbs{
    padding-left: 0;
}

.breadcrumbs a:first-child {
    padding-left: 46px;
    border-left: 0;
}
