{% load thumbnail %}

<section class="container section-information" id="first-section">
    <div class="row align-items-center justify-content-center h-100">
        <!-- img section-->
        <div class="col-12 col-md-7 h-100 section-information-img-wrapper position-relative">
            <div class="section-information-img-first">
                <img src="{% thumbnail instance.image_left 700x700 %}" alt="" class="img-fluid ">
            </div>
            <div class="section-information-img-second">
                <img src="{% thumbnail instance.image_right 700x700 %}" alt="" class="img-fluid ">
            </div>
            <div class="section-information-img-third">
                <img src="{% thumbnail instance.image_bottom 700x700 %}" alt="" class="img-fluid ">
            </div>

        </div>
        <!--end img section-->

        <!--text -->
        <div class="col-12 col-md-5 h-100 section-information-text-wrapper">
            <h2>Про нас</h2>
            <div class="after-main-title-text">
                {{ instance.description }}
            </div>
        </div>
    </div>
</section>
