{% load static thumbnail %}

<section class="container-fluid banner-main-section px-0" id="banner-main-section">

    <!-- banner img-->
    <img src="{% thumbnail instance.image 1920x900 %}" alt="" class="img-fluid w-100 h-100 banner-img">
    <div class="banner-mask {% if request.user.is_superuser %} authenticated_header {% endif %}"></div>
    <!-- end banner img-->

    <!-- banner text-->
    <div class="container position-absolute banner-wrapper-text h-100">
        <div class="row  align-items-center h-100">
            <div class="text-center w-100   ">

                <h1>{{ instance.title }}</h1>
                <div class="after-title-text text-center">
                    {{ instance.description }}
                </div>
                <!--end banner text-->

                <!-- arrow-->
                <div class="position-absolute wrapper-banner-arrow">
                    <div class="wrapper-keyframe">
                        <a href="#first-section" class="arrow-banner-down"></a>
                    </div>

                </div>
                <!--  end arrow-->
            </div>

        </div>
    </div>
</section>